name: Deploy dokku

on: [push]

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - id: deploy
        name: Push to dokku
        uses: dokku/github-action@master
        with:
            ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
            git_remote_url: 'ssh://dokku@45.56.127.246:django_app'           
