---
name: 'deploy'

# yamllint disable-line rule:truthy
on: [push]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Cloning repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up qemu
        uses: docker/setup-qemu-action@v2

      - name: Set up docker buildx
        uses: docker/setup-buildx-action@v2           

      - name: Push to dokku
        uses: dokku/github-action@master
        with:
            git_remote_url: 'ssh://dokku@45.56.127.246:22/appname'
            ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}      